.line1 {
                width: 135px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(268px) translateX(150px) rotate(76deg);
                position: absolute;
                top: -20px;
            }
            .line2 {
                width: 135px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(281px) translateX(172px) rotate(-76deg);
                position: absolute;
                top: -33px;
                left: -13px;
            }
            .line3 {
                width: 90px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(289px) translateX(160px) rotate(75deg);
                position: absolute;
                top: -20px;
            }
            .line4 {
                width: 90px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(302px) translateX(208px) rotate(-75deg);
                position: absolute;
                top: -33px;
                left: -13px;
            }
            .line5 {
                width: 178px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(250px) translateX(152px) rotate(90deg);
                position: absolute;
                top: -20px;
            }
            .line_s1 {
                width: 38px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(185px) translateX(140px) rotate(0deg);
                position: absolute;
                top: -20px;
            }
            .line_s2 {
                width: 38px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(185px) translateX(258px) rotate(0deg);
                position: absolute;
                top: -20px;
            }
            .line_s3 {
                width: 29px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(228px) translateX(142px) rotate(0deg);
                position: absolute;
                top: -20px;
            }
            .line_s4 {
                width: 29px;
                height: 47px;
                border-bottom: 1px solid green;
                -webkit-transform: translateY(228px) translateX(266px) rotate(0deg);
                position: absolute;
                top: -20px;
            }